[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
gunicorn = "*"
python-dotenv = "*"
google-cloud-storage = "*"
functions-framework = "*"
httpx = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]
ruff = "*"

[requires]
python_version = "3"
