[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
gunicorn = "*"
requests = "*"
python-dotenv = "*"
google-cloud-storage = "*"
functions-framework = "*"

[dev-packages]

[requires]
python_version = "3"
